.main-section{
    width: 100%;
    height: 912px;
    background: url("../img/background.png") 100% 100% no-repeat;
    -webkit-background-size: cover;
}
.html{
    overflow: hidden;
}

.header{

    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 20px;
    padding-bottom: 43px;


}
.welcome{
    float:right;
    color:white;
    font-size: 19px;
    padding-right:80px;
    padding-top: 3px;

}
.forum, .calendar, .journey{
    float:right;
}

.calendar:before{
    content: '';
    position: relative;
    top:5px;
    display:inline-block;
    width: 20px;
    height: 20px;
    background:url("../img/sprites.png") -39px -10px;
    margin-left: 28px;
}
.calendar:hover:before{
    content: '';
    position: relative;
    top:5px;
    display:inline-block;
    width: 20px;
    height: 20px;
    background:url("../img/sprites.png") -78px -10px;
    margin-left: 28px;
}
.forum:before{
    content: '';
    position: relative;
    top:5px;
    display:inline-block;
    width: 30px;
    height: 20px;
    background:url("../img/sprites.png") 86px -10px;
    margin-left: 28px;

}
.forum:hover:before{
    content: '';
    position: relative;
    top:5px;
    display:inline-block;
    width: 30px;
    height: 20px;
    background:url("../img/sprites.png") 38px -10px;
    margin-left: 28px;

}
.journey:before{
    content: '';
    position: relative;
    top:4px;
    display:inline-block;
    width: 44px;
    height: 20px;
    background:url("../img/sprites.png") -114px -10px;
    margin-left: 17px;
    margin-right: 25px;
    border-right: 1px solid #302e2f;
}

.journey:hover:before{
    content: '';
    position: relative;
    top:4px;
    display:inline-block;
    width: 44px;
    height: 20px;
    background:url("../img/sprites.png") -154px -10px;
    margin-left: 17px;
    margin-right: 25px;
    border-right: 1px solid #302e2f;
}


.logo{
    float:left;
    color:white;
    font-size: 26px;
    text-transform: uppercase;
    padding-left: 80px;
}
.logo:hover{
    color:#3cb878;
}
.log-sign{
    color:#3cb878;
    font-size: 19px;
    text-decoration:underline;
    cursor:pointer;
}
.mod-frame{
    width: 475px;
    padding: 30px 0;
    margin: auto;
    background-color: white;
    margin-top: 65px;

    border-radius: 10px;

}

.sign-mod-frame{
    margin-left:42px;
    font-size: 26px;
}
.log-mod-frame{
    margin-left: 212px;
    text-decoration: none;
    color: #3cb878;
    font-size: 19px;
    display: inline-block;

}
.log-mod-frame:hover{
    margin-left: 212px;
    text-decoration: underline;
    color: #3cb878;
    font-size: 19px;
    display: inline-block;

}
.green-rectang{
    float:left;
}
.facebook-sign{
    float:left;
    display:inline-block;
    background-color: #264b96;
    color:white;
    border-radius: 5px;
    font-size: 22px;
    text-align: right;
    padding:15px 20px 17px 5px;
    margin-right: 8px;
    cursor:pointer;
}
.facebook-psevdo:before{
    content: '';
    position: relative;
    top:6px;
    display:inline-block;
    width: 40px;
    height: 24px;
    background:url("../img/css_sprites.png") -236px -18px;
    margin-left:1px;
    margin-right:15px ;
    border-right: 1px solid #2b54a5;
}
.google-sign{
    float:right;
    display:inline-block;
    cursor:pointer;
    background-color: #df4a32;
    color:white;
    border-radius: 5px;
    font-size: 22px;
    text-align: left;
    padding:15px 30px 17px 11px;
}
.google-psevdo:before{
    content: '';
    position: relative;
    top:6px;
    display:inline-block;
    width: 40px;
    height: 24px;
    background:url("../img/css_sprites.png") -64px -17px;
    margin-left:1px;
    margin-right:24px;
    border-right: 1px solid #c8422d;
}

.sign-link-section{
    display:inline-block;
    padding: 15px 60px 30px;

}
.divide-section{
    padding:0 60px;
    text-align: center;
}
.or{
    position:relative;
    font-family: Arial;
    font-size: 19px;
    display:inline-block;
    margin-bottom: 12px;
}
.or::before{
    content:'';
    position: absolute;
    top: 10px;
    right: 35px;
    display: block;
    width: 151px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;

}

.or::after{
    content:'';
    position: absolute;
    top: 10px;
    left: 35px;
    display: block;
    width: 149px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
}
.massage{
    padding: 0 60px;
}
.massage-field{
    width: 334px;
    text-align: left;
    padding-left: 17px;
    padding-top: 17px;
    padding-bottom: 18px;
    font-family: Arial;
    font-size: 19px;
    border-radius: 5px;
    margin-top: 9px;
    border: 1px solid #eaeaea;

}

::-webkit-input-placeholder{
    color:#bebebe;
}

*:focus {
    outline: none;
}

.message-form input:focus, .message-form textarea:focus {
    box-shadow:   0 5px 5px rgba(0,0,0,0.05), 0 5px 10px rgba(0,0,0,0.15);
    margin-bottom: 10px;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-left: 62px;
    margin-top: 22px;
    margin-bottom: 28px;
    cursor: pointer;
    user-select: none;
    font-family: Arial;
    font-size: 19px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 25px;
    width: 25px;
    border:1px solid #eaeaea;
    border-radius: 5px;

}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}
.terms-conditions{
    color: #3cb878;
    font-family: Arial;
    font-size: 19px;
}
.button{
    width: 354px;
    display:inline-block;
    background-color: #329a65;
    color:white;
    border-radius: 5px;
    font-family: Arial;
    font-size: 22px;
    text-align: center;
    padding:17px 0;
    margin: 0 60px 0 60px;
    cursor:pointer;

}
/**/
.clearfix{
    clear:both;
}