.main-section{
    height: 760px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/background.png);
    -webkit-background-size: cover;
    padding: 50px 140px 20px 149px;
}
.html{
    overflow-x: hidden;
}
.header{
    height: 60px;
}
.logo-text{
    float:left;
    display: inline-block;
    font-size: 29px;
    color: white;
    text-transform:uppercase;
    text-decoration: none;
}
.logo-text2{
    float:left;
    font-size: 18px;
}

.logo-text-block:hover a{
    color:#f26522;
}
.logo-art{
    float:left;
    display:inline-block;
    width: 46px;
    height: 44px;
    background-image: url("../img/logo.png");
    margin-right: 15px;
}

.logo{
    float:left;
}
.logo:hover .logo-art{
    float:left;
    display:inline-block;
    width: 46px;
    height: 44px;
    background-image: url("../img/logoRed.png");
    margin-right: 15px;
}

div .logo:hover a{
    color:#f26522;
}

.contacts{
    float:right;
    font-size: 18px;
    color: white;
    margin-top: 12px;

}
.email{
    float:right;
}
.phone{
    float:right;
}
.header::after{
    clear:both;
}
.text-under-picture{
    display: block;
    margin: auto;
    margin-top: 22px;
    margin-bottom: 25px;
    color:white;
    font-size: 18px;
    text-align: center;
}

.block-with-picture:hover .text-under-picture{
    color:#f26522;
}
.picture1{
     display:inline-block;
     width: 307px;
     height: 200px;
     background-image: url("../img/Shopping-tour.png");
        position:relative;
}
.block-with-picture:hover .details-frame{
    display:block;
}
.details-frame{
    display: none;
    position:absolute;
    bottom:0;
    width: 307px;
    height:63px;
    background-color: #f26522;
    margin-top: 136px;

}
.details-frame-text{
    float:right;
    display:inline-block;
    color:white;
    font-size: 14px;
    margin: 38px 18px 17px 0;

}
.details-frame-text2{
    float:left;
    display:inline-block;
    color:white;
    font-size: 23px;
}
.details-frame-text1 {
    float: left;
    display: inline-block;
    color: white;
    font-size: 13px;
}
.details-frame-text::after{
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
    background-image: url("../img/Arrow.png");
    margin-left: 15px;
}
.details-frame-block{
    margin-left: 21px;
    margin-top: 14px;
    margin-bottom: 17px;
}
.pictures-section{
    height: 620px;
    margin-bottom: 60px;
}
.block-with-picture{
    float:right;
    margin-top: 50px;
    margin-left: 69px;
}
.pictures-section .block-with-picture:nth-child(3n+3){
    margin-left: 1px;
}

.copyright{
    font-size: 12px;
    /*margin-top: 60px;*/
    color:white;
    text-align: center;
}
.copyrigth-text{
    display:inline-block;
}
.clearfix{
    clear:both;
}