.first-menu-page{
    height: 764px;
    background-image: url("../img/Sections background/section1.jpg") ;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    font-family: Arial;
    padding-bottom: 248px;
}
.navigation-bar{
    width: 100%;
    display: inline-block;
    background-color: rgba(60, 60, 60, 0.7);

}
.navigation-bar-link{
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
    color:#b8b8b8;
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 56px;
    padding-bottom: 55px;
}
.navigation-bar-link:hover{
    border-bottom:2px solid #18cfab;
}
.link-block{
    float:right;
    margin-right: 150px;

}
.logo-block{
    float: right;
    margin-right: 180px;
    margin-top: 45px;
    margin-block-start: 25px;
    margin-block-end: 0px;
    vertical-align: center;

}
.logo-text{
    display:inline-block;
    color:#e6e6e5;
    font-size: 25px;
    margin-block-start: 0px;
    margin-block-end: 0px;



}
.logo-text2{
    display:inline-block;
    font-size: 25px;
    color:#18cfab;
    font-weight: bold;

}
.logo-img{
    display: inline-block;
    width: 58px;
    height: 67px;
    background-image: url('../img/logo.png');
    margin-right: 8px;
}
.hexagon {
    display: inline-block;
    position: relative;
    width: 58px;
    height: 33.49px;
    background-color: #64C7CC;
    margin: 16.74px 0;
    margin-right: 8px;

}

.hexagon:before,
.hexagon:after {
    content: "";
    left:0;
    position: absolute;
    width: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 16.74px solid #64C7CC;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 16.74px solid #64C7CC;
}
.logo-img-text{
    height: 28px;
    text-transform: uppercase;
    font-size: 40px;
    color:white;
    font-weight: bold;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;

    margin-left: 15px;
    display: block;
    width: 26px;

}
.search-engine{
    height: 22px;
    width: 22px;
    display:inline-block;
    background-image: url("../img/Search.png");
    margin-left: 15px;
}
.brand-advertise{
    color: #cacaca;
    font-size: 30px;
    margin-top: 37px;
    font-family: "Segoe UI Light";
}
.brand-definition-item{
    color:#18cfab;
    text-transform: uppercase;
    font-size: 35px;
}
.brand-definition{
    color:white;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 246px;
    font-weight: bold;
}
.brand-slogan{
    text-transform: uppercase;
    color: white;
    font-size: 70px;
    margin-top: 45px;
    font-weight: bold;
}
.buttons-first-page{

    margin-top: 142px;

}
.button-first-page{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    background-color: #00cbf6;
    font-size: 13px;
    padding: 26px 25px 26px 25px;
    border-radius: 4%;
    margin-right: 28px;
    border-top: 3px solid white;
}
.button-first-page1{
    background-color: #18cfab;
}
.brand-advantages{
    display:flex;
    font-size: 20px;
    height: 374px;
    width: 100%;
}
.dark-theme{
    display: flex;
    flex-flow: column;
    height: 367px;
    background-color: #1c2a33;
    width: 25%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:#18cfab;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
    border-top: 7px solid #18cfab;

}
.light-theme{
    display: flex;
    height: 367px;
    flex-flow: column;
    background-color: #18cfab;
    width: 25%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:white;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
    border-top: 7px solid white;

}
.brand-advantages-art1{
    width: 58px;
    height: 97px;
    background-image: url("../img/Brand Advantages/hand.png");
    margin-bottom: 48px;
}
.brand-advantages-art2{
    width: 93px;
    height: 75px;
    background-image: url("../img/Brand Advantages/almaz.png");
    margin-bottom: 59px;
}
.brand-advantages-art3{
    width: 60px;
    height: 96px;
    background-image: url("../img/Brand Advantages/lampa.png");
    margin-bottom: 49px;
}
.brand-advantages-art4{
    width: 99px;
    height: 76px;
    background-image: url("../img/Brand Advantages/screens.png");
    margin-bottom: 59px;
}
.services{
    display:flex;
    height: 774px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}
.section-name{
    font-family: "Corbel Light";
    font-size: 36px;
    color:#4e4e4e;
    margin-block-start: 82px;
    margin-block-end: 70px;

}
.section-name:after{
    content:'';
    position: relative;
    /*top: 900px;*/
    /*right: 35px;*/
    display: block;
    width: 76px;
    box-sizing: border-box;
    border: 1px solid #18cfab;
    margin-top: 37px;
    margin-left: 60px;
}



.triangle-section{
    display: flex;
    flex-flow: row;
}
.section-name:before{
    content:'';
    position: relative;
    top: 77px;
   left:45px;
    display: block;
    width: 76px;
    box-sizing: border-box;
    border: 1px solid #18cfab;

}

.services-menu{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;



}
.services-menu-tab{
    padding-top: 34px;
    padding-bottom: 34px;
    color:#9e9fa0;
    font-size: 16px;
    width: 172px;
    height: 15px;
    border:1px solid #ebebeb;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    cursor: pointer;
    position:relative;
}
.services-menu-tab:hover{
    background-color: #18cfab;
    color:white;
}
.services-tab-items{
    margin-top: 24px;
}

/*.service-triangle{*/
/*    border: 15px solid transparent;*/
/*    border-top: 15px solid #18cfab;*/
/*    display: block;*/
/*    width: 0;*/
/*    height: 0;*/

/*}*/


.triangle1{
    margin-right: 150px;
    margin-left: 10px;

}
.triangle2{
    margin-right: 150px;
    margin-left: 81px;

}
.triangle3{
    margin-right: 100px;
    margin-left: 100px;

}
.triangle4{
    margin-right: 150px;
    margin-left: 40px;

}
.triangle5{
    margin-right: 150px;

}

.services-menu-section{
    width: 1043px;
    height: 400px;
}

.services-img{
    float:left;
    width: 194px;
    height: 139px;
    margin-right: 20px;
}
.services-section-text{
    text-align: justify;
    font-size: 14px;
    font-family: "Corbel Light";
    color:#898989;
}

.advertise-card{
    display:flex;
    width: 100%;
    height: 476px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../img/Sections background/section-2small.jpg');
    -webkit-background-size: cover;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}
.advertise-card-slogan{
    font-family: Arial;
    color:#18cfab;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 35px;
}
.advertise-card-advantages{
    color:#858483;
    font-size: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 76px;
}

.project-example{
    background-color: #f8fcfe;

    width: 100%;
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px;
}
.project-example-head{
    color:#4e4e4e;
    font-size: 36px;
    font-family: "Corbel Light";
    margin-block-end: 70px;
    margin-block-start: 0;
}
.project-example-head:after{
    content:'';
    position: relative;
    /*top: 900px;*/
    /*right: 35px;*/
    display: block;
    width: 76px;
    box-sizing: border-box;
    border: 1px solid #18cfab;
    margin-top: 37px;
    margin-left: 117px;


}
.project-example-head:before{
    content:'';
    position: relative;
    top: 77px;
    left:102px;
    display: block;
    width: 76px;
    box-sizing: border-box;
    border: 1px solid #18cfab;

}

.project-example-tabs{
    display:flex;
    justify-content: center;
    background-color: white;

}
.project-tab {
    padding: 24px 21px 20px 29px;
    color: #9e9fa0;
    font-size: 13px;
    height: 15px;
    border: 1px solid #ebebeb;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    cursor: pointer;
}
.project-tab:hover{
    border-top: 2px solid #18cfab;
    color:#18cfab;
}
.project-image-section{
    padding-right: 15%;
    padding-left: 15%;
    margin-top: 71px;




}
.project-image-element{
     float:right;
     width: 230px;
     height: 170px;
 }
.project-image-element2{
    float:right;
    width: 230px;
    height: 170px;

}
.project-image-section2{

    display: none;
}

.project-bg-image1{
    background-image: url("../img/web design/web-design2.jpg");

}

.project-bg-image2{
    background-image: url("../img/web design/web-design3.jpg");
}

.project-bg-image3{
    background-image: url("../img/web design/web-design4.jpg");
}

.project-bg-image4{
    background-image: url("../img/web design/web-design5.jpg");
}

.project-bg-image5{
    background-image: url("../img/web design/web-design1.jpg");
}

.project-bg-image6{
    background-image: url("../img/web design/web-design6.jpg");
}

.project-bg-image7{
    background-image: url("../img/web design/web-design7.jpg");
}

.project-bg-image8{
    background-image: url("../img/wordpress/wordpress1.jpg");
}

.project-bg-image9{
    background-image: url("../img/wordpress/wordpress2.jpg");
}

.project-bg-image10{
    background-image: url("../img/wordpress/wordpress3.jpg");
}

.project-bg-image11{
    background-image: url("../img/wordpress/wordpress4.jpg");
}

.project-bg-image12{
    background-image: url("../img/wordpress/wordpress5.jpg");
}
.hover-project-element:hover{
    opacity: 100;
}
.hover-buttons-section{
    display: flex;
    flex-flow: row;
}
.hover-circle-button{
    margin-right: 5px;
    width: 41px;
    height: 40px;
    border-radius: 50%;
    border:1px solid #18cfab;
}
.hover-project-element{
    display:flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    background-color: #f8fcfe;
    opacity:0;
    justify-content: center;
    align-items: center;
}
.hover-project-text1{
    color:#18cfab;
    font-size: 23px;
    font-weight: bold;
    font-family: Corbel;
    margin-top: 13px;
}
.hover-project-text2{
    font-size: 20px;
    color:#b6b8b8;
    font-family: "Corbel Light";

}
.project-bt-load{
    margin-top: 71px;
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    border-radius: 3%;
    cursor:pointer;


    margin-bottom: 100px;


}
.bt-load-text{

    position:relative;
    color:white;
    text-transform: uppercase;
    text-align: center;

    font-size: 14px;
    margin-top: 23px;

}
.bt-load-text:before{
    content:"";
    width: 16px;
    height: 16px;
    position:absolute;
    left:16px;
    background-image: url("../img/plus.png");
    margin-right: 150px;

}








.news{
    padding-left:150px;
    padding-right: 150px;

}
.news-head{
    text-align: center;
    margin-top: 84px;
    color:#4e4e4e;
    font-size: 36px;
    font-family: "Corbel Light";
    margin-bottom: 70px;
}
.news-head:before{
    content:'';
    position: relative;
    top: 74px;
    right:15px;
    display: block;
    width: 76px;
    box-sizing: border-box;
    border: 1px solid #18cfab;
    margin:auto;
    margin-top: 34px;

}

.news-head:after{
    content:'';
    position: relative;
    /*top: 900px;*/
    /*right: 35px;*/
    display: block;
    width: 76px;
    box-sizing: border-box;
    border: 1px solid #18cfab;
    margin: auto;
    margin-top: 34px;
}
.news-card{
    float:right;
    width: 238px;
    height: 265px;
    border:1px solid #ebebeb;
    margin-left: 18px;
    text-decoration: none;
    background-color:#f8fcfe;
    margin-bottom: 45px;
}
.news-card:hover .news-card-time{
    background-color: #18cfab;
}
.news-card:hover .news-card-title{
    color:#18cfab;
}

.news-card-img{
    float:right;
    width: 238px;
    height: 208px;
}
.bg-image1{
    background-image: url('../img/news/news1.png');
    background-repeat: no-repeat;
}
.bg-image2{
    background-image: url('../img/news/news2.png');
    background-repeat: no-repeat;
}
.bg-image3{
    background-image: url('../img/news/news3.png');
    background-repeat: no-repeat;
}
.bg-image4{
    background-image: url('../img/news/news4.png');
    background-repeat: no-repeat;
}
.bg-image5{
    background-image: url('../img/news/news5.png');
    background-repeat: no-repeat;
}
.bg-image6{
    background-image: url('../img/news/news6.png');
    background-repeat: no-repeat;
}
.bg-image7{
    background-image: url('../img/news/news7.png');
    background-repeat: no-repeat;
}
.bg-image8{
    background-image: url('../img/news/news8.png');
    background-repeat: no-repeat;
}
.news-card-time{
    float:right;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    color:white;
    font-family: "Corbel Light";
    text-align: center;
    vertical-align: auto;
    font-size: 16px;

}
.news-card-title{
    text-underline: none;
    font-size: 17px;
    color:#717171;
    font-family: Corbel ;
    font-weight: bold;
    margin-left:15px;
    margin-top: 216px;
    margin-right: 66px;
}

.news-comments{
    margin-top: 243px;
    margin-left: 17px;
    color:#888989;
    font-size: 14px;
    font-family: "Corbel Light";
}










.review-about-company{
    display:flex;
    width: 100%;
    height: 860px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../img/Sections background/section-3small.jpg');
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

}
.review-head-name{
    color:white;
    font-size: 36px;
    font-family: "Corbel Light";
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 98px;
}
.review-head-name:before{
    content:'';
    position: relative;
    top: 77px;
    left:185px;
    display: block;
    width: 76px;
    box-sizing: border-box;
    border: 1px solid #18cfab;
}
.review-head-name:after{
    content:'';
    position: relative;
    /*top: 900px;*/
    /*right: 35px;*/
    display: block;
    width: 76px;
    box-sizing: border-box;
    border: 1px solid #18cfab;
    margin-top: 37px;
    margin-left: 200px;
}
.reviewer-card{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
.not-display{

    display:none;
}
.review-text:before{
    content:"";
    position:relative;
    display: block;
    width: 44px;
    height: 30px;
    background-image: url("../img/Quotes.png");
    margin-left: 430px;
    margin-bottom: 43px;
}
.review-text{
    color:#a3a7a8;
    font-size: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 43px;
    text-align: center;
    margin-bottom: 43px;
}
.reviewer-name{

    font-size: 16px;
    color:#18cfab;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial;
    margin-block-start: 0;
    margin-block-end: 0;

}
.reviewer-profession{
    color:#a3a7a8;
    font-size: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 15px;
    margin-bottom: 37px;
}
.reviewer-photo-icon{

    border-radius: 50%;
    width: 143px;
    height: 142px;
    border:2px solid #18cfab;
    margin-bottom: 50px;

}
.reviewer-image1{
     background-image: url("../img/reviewer/review1.png");
 }

.reviewer-image2{
    background-image: url("../img/reviewer/review2.png");

}

.reviewer-image3{
    background-image: url("../img/reviewer/review3.png");
}

.reviewer-image4{
    background-image: url("../img/reviewer/review1.png");
}




.review-selector-section{
    display:flex;

}
.selector-icon-section{
    display: flex;
}
.icons{
    display: flex;
}
.review-selector-icon{
    width: 40px;
    height: 40px;
    background-color: blue;
    margin-left: 15px;
}
.left-btn{
    width: 40px;
    height: 40px;
    background-color: red;
    margin-left: 15px;
}
.right-btn{
    width: 40px;
    height: 40px;
    background-color: red;


}
.reviewer-active{

}


















.active{

}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.copyright{
    padding-top: 47px;
    padding-bottom: 47px;
    text-align: center;
    background-color: #22353f;
    color:#9b9e9f;
    text-align: center;
    font-size: 14px;
    font-family: "Corbel Light";
}
.copyright-ham{
    color:#18cfab;
    font-size: 14px;
    font-family: "Corbel Light";
}


