.main-logo{
    text-decoration: none;
    color:black;
    font-family: ﻿san-serif;
    font-size: 75px;
    text-align: center;
    padding-bottom: 48px;

}
.menu-element-link{
    display:inline-block;
    text-decoration: none;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-left: 50px;
    padding-top:25px;
    padding-bottom: 25px;
}
.blue-text{
    color:deepskyblue;
    text-align: center;
}
.menu-element-link3{
    margin-left: 200px;
    text-align: right;
}
.top-menu-bar{
    width:1280px;
    font-family: Arial;
    background-color:#35444f;
    margin-top: 48px;
    text-align: center;
    padding-right:70px;
    position:relative;
}
.special-element{
    position:absolute;
    bottom: 0;
    left: 460px;
    background-color:#222f3a;
    border: 1px solid grey;
    padding:25px 40px;
}
.original-link{
    display:inline-block;
    text-align: center;
    height: 69px;
    width: 150px;
    background-color: #222f3a;
    border-left-color: white;
    border-right-color: white;
}
.top-part{
    width: 1280px;
    padding:60px 100px 10px;


}
.left-menu-section{
    display:inline-block;
    padding:10px 100px 10px 100px;

}
.left-menu-bar{
    width: 345px;
    float:left;
    font-family: Arial;
    position: relative;
    display: inline-block;
    list-style-type: none;
    color:grey;
    border: 1px solid grey;
    text-align: left;


}
.left-menu-elements{
    font-size: 30px;
    padding:29px 1px;
    padding-right: 60px;

}
.left-menu-element3{
    margin-top:100px;
}
.left-special-element{
    display:inline;
    position:absolute;
    left:0;
    top: 100px;
    background-color: #dbdbdb;
    padding-left: 70px;
    padding-right: 133px;
    text-align:left;
    color:black;
}

.main-image{
    text-align: center;
    position: relative;
    margin-right: 500px;
    margin-top:100px;
}

.image{
    display:inline-block;

}
.clearfix {
    clear: both;
}
.text-section{
    display: inline-block;
    padding-top:60px;
    font-family: Arial;
    padding-left: 596px;
    padding-right: 200px;
    font-size: 18px;
    line-height: 25px;
}


.bottom-menu-bar{
    width:1280px;
    font-family: Arial;
    background-color: #b4b7ba;
    padding:22px 40px;
    margin-top: 48px;
    color:black;
    margin-left:100px;
    margin-right:100px;
    position:relative;
}
.bottom-menu-element{
    display: inline-block;
    text-decoration: none;
    font-size: 28px;
    color:black;
    text-align: center;

    margin-right: 20px;
}
.bottom-menu-element2{
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dashed;
    font-size: 28px;
    color:dodgerblue;
    text-align: center;
    margin-left: 10px;
}

.copyright-link{
    position:absolute;
    right:30px;
    bottom:22px;
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    color:black;

}
