.menu-bar{
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
}
a {
    text-decoration: none;
}

.menu-element-link{
    color: #16a085;
    margin: 30px;
   /* font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;*/
    font-size: 18px;
    font-family: ﻿ Arial;
    font-weight: bold;
}

.container{
    width: 100%;
    margin: auto;
    position: relative;
}
.smartphone{
    position:absolute;
    width:100%;
}
.grey-layer{
    position:relative;
    width: 100%;

}
.main-content{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    line-height: 30px;
}
h2{
    font-family: Arial;
    text-transform: uppercase;
    font-weight: bold;
}
p{
    padding-top: 30px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
}
.last-paragraph{
    padding-bottom: 30px;
}
.bottom{
    text-transform: uppercase;
    background-color: #16a085;
    font-family: ﻿GothamRounded-Bold;
    font-size: 10px;
    display: inline-block;
    padding-bottom: 15px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    vertical-align: middle;
    color: white;
    border-radius: 5px;
    width:200px;
    height: 50px;
}

.bottom:hover{
    cursor: pointer;
}
.bottom-area{
    text-align: center;
    padding-bottom: 90px;
}

.rights{
    padding-left: 900px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 16px;
}
